* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background: #f0f2f5;
  color: #5f5f5f;
  height: 100%;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 60px;
  background-color: rgb(255, 253, 253);
}
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: -150px;
}
.search-bar input {
  background-color: rgb(255, 253, 253);
  border: 2px solid #5f5f5f;
  padding: 6px;
  width: 180px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-bar i {
  /* background-color: #aea8a8; */
  background-color: rgb(255, 253, 253);
  border: 2px solid #5f5f5f;
  padding: 6px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: none;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

/* Gap between Logo and logo name */
.nav-list a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Gap between Logo and logo name */
  /* Gap only works on flex / grid containers */
  gap: 9px;
  color: rgba(102, 102, 102, 1);
}
.nav-list a:hover {
  color: black;
  font-weight: 500;
}
.profile-logo {
  height: 50px;
  width: 50px;
  margin-right: -170px;
}
.profile-logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
input::placeholder {
  color: black;
}
.search-bar i {
  color: black;
}

/* Containers */
.container{
    display: flex;
    height: 100vh;

}
.left-container{
    width: 25vw;
    height: 100%;
    border: 2px solid red;
}
.right-container{
    width: 25vw;
    height: 100%;
    border: 2px solid red;

}
.mid-container{
    width: 50vw;
    height: 100%;
    border: 2px solid red;
}

/* Learn - Box */

